body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.green,.blue{
   max-width:50%;
   max-height:50%;
	margin-top: 15px;
	margin-bottom: 15px;
	
}


.green{
	float: left;
	margin-right: 15px;
}

.blue{
	float: right;
	margin-left: 15px;
}